.products-preview-container {
    display:flex;
    flex-direction: column;
    background-color: rgb(125, 113, 113);
    align-items: center;
}

.carrousel-products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    margin: 1rem;
}
