@media (max-width: 768px) {
    .fixed-container-sign-up{
        padding-right: 0 !important;
    }
}

.profile-container {
    background-color: var(--back-light);
}

.profile-cont-2 {
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.profile-cont-2 form {
    width: 90%;
}

.signOut {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}